@import "includes/oxocarbon.css";

* {
  /* all: unset; */
  font-family: "monospace";
  font-size: 17px;
}

window#waybar {
  background: @base00;
  color: @base05;
}

tooltip {
  background: @base00;
  color: @base05;
  border-radius: 0;
}

#custom-icon {
  /* idk why but it is 8px off */
  padding: 0 18px 0 10px;
  color: @base09;
}

#tray,
#pulseaudio,
#wireplumber,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock {
  padding: 0 9px;
}

#pulseaudio,
#wireplumber {
  color: @base0A;
}

#cpu {
  color: @base0C;
}

#memory {
  color: @base0E;
}

#temperature {
  color: @base0B;
}

#backlight {
  color: @base08;
}

#battery {
  color: @base0D;
}

#clock {
  color: @base04;
}

#workspaces button.active {
  color: @base04;
}

#workspaces button.focused {
  color: @base00;
  background: @base0E
}
